<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyVault</title>
    <link rel="icon" href="{{ url_for('static', filename='images/minimalist_logo_for_SkyVault__a_cloud_file_storage_company_similar_to_Google_Drive-removebg-preview.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" type="text/css">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menu= document.getElementById('menu');
            const htopnav = document.getElementById('htopnav');
            const icon= document.getElementById('bar');

            menu.addEventListener("click", function () {
                icon.classList.toggle('animate');
                htopnav.classList.toggle('visible');
            }); 

            icon.addEventListener("click", function () {
                icon.classList.toggle('visible');
            });

            document.getElementById("create-btn").addEventListener("click", function() {
                const dropdown = document.getElementById("dropdown-menu");
                dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
            });
        });

        function toggleRenameForm(fileId) {
            let form = document.getElementById("rename-form-" + fileId);
            form.style.display = (form.style.display === "none") ? "block" : "none";
        }

        function toggleCreateFileForm() {
            const form = document.getElementById("create-file-form");
            form.style.display = form.style.display === "none" ? "block" : "none";
            document.getElementById("create-folder-form").style.display = "none"; 
        }

        function toggleCreateFolderForm() {
            const form = document.getElementById("create-folder-form");
            form.style.display = form.style.display === "none" ? "block" : "none";
            document.getElementById("create-file-form").style.display = "none"; 
        }
    </script>
</head>
<body>
    <header>
        <h1>SkyVault</h1>
        <nav class="col-12 col-lg-12 col-dm-12 col-sm-12">
            <ul id="htopnav">
                <li><a href="{{ url_for('web') }}">Inici</a></li>
                <li><a href="{{ url_for('logout') }}">Tanca la sessió</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar Sessió</a></li>
                <li><a href="{{ url_for('register') }}">Registre</a></li>
                <li><a href="{{ url_for('list_files') }}">La meva unitat</a></li>
            </ul>
            
            <div id="menu">
                <div id="bar"></div>
            </div> 
        </nav>
    </header>
    <main>
        <section class="files">
            <button id="create-btn" class="btn">Crear</button>
            
            {% if current_folder %}
                {% if parent_folder %}
                    <a href="{{ url_for('list_folder', folder_name=parent_folder) }}">Tornar a la carpeta anterior</a>
                {% else %}
                    <a href="{{ url_for('list_files') }}">Tornar a la meva unitat</a>
                {% endif %}
            {% endif %}

            <div id="dropdown-menu" class="dropdown-menu">
                <button class="dropdown-item" onclick="toggleCreateFileForm()">Pujar Arxiu</button>
                <button class="dropdown-item" onclick="toggleCreateFolderForm()">Crear Carpeta</button>
            </div>
        
            <div id="create-file-form" class="form-container" style="display: none;">
                <form action="{{ url_for('upload_file', folder=current_folder) }}" method="post" enctype="multipart/form-data">
                    {% if current_folder %}
                        <input type="hidden" name="folder_name" value="{{ current_folder }}">
                    {% endif %}
                    <input type="file" name="file" required>
                    <button type="submit">Pujar arxiu</button>
                </form>
                <button onclick="toggleCreateFileForm()">Cancela</button>
            </div>
        
            <div id="create-folder-form" class="form-container" style="display: none;">
                <form action="{{ url_for('create_folder') }}" method="POST">
                    <input type="hidden" name="parent_folder" value="{{ current_folder }}">
                    <input type="text" name="new_folder" placeholder="Nombre de la nueva carpeta" required>
                    <button type="submit">Crear Carpeta</button>
                </form>
                <button onclick="toggleCreateFolderForm()">Cancelar</button>
            </div>
        
            {% for file in files %}
                <div>
                    <p>{{ file.filename }}</p>
                    <a href="{{ url_for('download_file', file_id=file.id) }}">Descargar</a>
        
                    <form method="POST" action="{{ url_for('delete_file', file_id=file.id) }}" style="display:inline;">
                        <button type="submit" onclick="return confirm('¿Eliminar archivo?');">Eliminar</button>
                    </form>
        
                    <button onclick="toggleRenameForm('{{ file.id }}')">Cambiar Nom</button>
                    <form action="{{ url_for('rename_file', folder=current_folder) }}" method="post" style="display:none;" id="rename-form-{{ file.id }}">
                        <input type="hidden" name="old_name" value="{{ file.filename }}">
                        <input type="text" name="new_name" placeholder="Nuevo nombre" required>
                        {% if current_folder %}
                            <input type="hidden" name="folder_name" value="{{ current_folder }}">
                        {% endif %}
                        <button type="submit">Confirmar</button>
                    </form>
        
                    <form action="{{ url_for('move_file') }}" method="POST">
                        <input type="hidden" name="file_id" value="{{ file.id }}">
                        <select name="folder_name">
                            {% for folder in folders %}
                                <option value="{{ folder }}">{{ folder }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Moure fitxer</button>
                    </form>
                </div>
            {% endfor %}
        </section>
        
        <section class="folders">
            {% if folders %}
                <h3>Carpetes</h3>
                {% for folder in folders %}
                    <div>
                        <a href="{{ url_for('list_folder', folder_name=(current_folder if current_folder else '') + '/' + folder) }}">{{ folder }}</a>
                        <form action="{{ url_for('delete_folder') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="folder_name" value="{{ folder }}">
                            {% if current_folder %}
                                <input type="hidden" name="parent_folder" value="{{ current_folder }}">
                            {% endif %}
                            <button type="submit" onclick="return confirm('¿Eliminar carpeta?');">Eliminar</button>
                        </form>
        
                        <form action="{{ url_for('move_to_folder') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="folder_name" value="{{ folder }}">
                            <input type="hidden" name="current_folder" value="{{ current_folder }}">
                            <button type="submit">Entrar a la carpeta</button>
                        </form>                    
                    </div>
                {% endfor %}
            {% else %}
                <p>No hi ha carpetes disponibles.</p>
            {% endif %}
        </section>  
    </main>
    <footer>
        <p>&copy; 2025 SkyVault. All Rights Reserved.</p>
    </footer>
</body>
</html>