<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyVault</title>
    <link rel="icon" href="{{ url_for('static', filename='images/minimalist_logo_for_SkyVault__a_cloud_file_storage_company_similar_to_Google_Drive-removebg-preview.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/web.css') }}" type="text/css">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menu= document.getElementById('menu');
            const htopnav = document.getElementById('htopnav');
            const icon= document.getElementById('bar');

            menu.addEventListener("click", function () {
                icon.classList.toggle('animate');
                htopnav.classList.toggle('visible');
            }); 

            icon.addEventListener("click", function () {
                icon.classList.toggle('visible');
            });

            const moreInfoBtn = document.getElementById('more-info-btn');
            const aboutSection = document.getElementById('about');

            moreInfoBtn.addEventListener("click", function () {
                aboutSection.classList.toggle('visible');
            });
        });

        function toggleRenameForm(fileId) {
            let form = document.getElementById("rename-form-" + fileId);
            form.style.display = (form.style.display === "none") ? "block" : "none";
        }
    </script>
</head>
<body>
    <header>
        <img id="logoImg" src="{{ url_for('static', filename='images/minimalist_logo_for_SkyVault__a_cloud_file_storage_company_similar_to_Google_Drive-removebg-preview.png') }}" alt="logo">
        <h1>SkyVault</h1>
        <nav class="col-12 col-lg-12 col-dm-12 col-sm-12">
            <ul id="htopnav">
                <li><a href="{{ url_for('web') }}">Inici</a></li>
                <li><a href="{{ url_for('logout') }}">Tanca la sessió</a></li>
                <li><a href="{{ url_for('login') }}">Iniciar Sessió</a></li>
                <li><a href="{{ url_for('register') }}">Registre</a></li>
                <li><a href="{{ url_for('list_files') }}">La meva unitat</a></li>
            </ul>
            
            <div id="menu">
                <div id="bar"></div>
            </div> 
        </nav>
    </header>
    <main>
        <section id="hero">
            <h2>Benvingut a SkyVault</h2>
            <p>El teu núvol, el teu espai, la teva seguretat</p>
            <a href="{{ url_for('verify_login') }}" class="btn">Puja arxius! <span class="arrow">→</span></a>
            <section>
                <button id="more-info-btn" class="more-info-btn">Més informació</button>
            </section>
            <img id="imgS" src="{{ url_for('static', filename='images/unnamed-removebg-preview.png') }}" alt="img">
        </section>

        <section id="about">
            <h2>¿Qué es SkyVault?</h2>
            <p>SkyVault és una plataforma d'emmagatzematge al núvol que et permet pujar, organitzar i accedir als teus fitxers de manera segura des de qualsevol lloc. Amb un disseny intuïtiu i funcions avançades, SkyVault és la solució perfecta per als que busquen un espai fiable per als seus documents i fitxers digitals.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 SkyVault. All Rights Reserved.</p>
    </footer>
</body>
</html>